.hero
	&__title
		margin 10px 0
		padding-left 5vw
		font-size 60px
		font-style normal
		font-weight 700
		line-height 92.4%
		text-transform uppercase
		font-family 'Josefin Sans', sans-serif
		color var(--grey)

	&__container
		display flex
		align-items center
		gap 1vw

	&__text-container
		background var(--acqua)
		width 30vw
		padding 50px 50px 50px 5vw
		color white

	.badges__list
		overflow scroll
		position relative
		width 59vw
		max-height 61vh
		padding-right 5vw