@import "../components/**/**/index.styl"
@import "../components/**/index.styl"

body
	margin 0
	font-family 'Nunito', sans-serif
	--pink #FF6584
	--pinkLight #EEC0CC

	--acqua #58C9D4
	--acquaLight #C4E9ED

	--grey #3F4147
	--greyLight #BABCBF

	--grey100 #F4F4F6

.main
	display flex
	flex-direction column
	gap 5vh

.badges__list
	display flex
	justify-content center
	flex-wrap wrap
	gap 20px