doctype html

include ./components/badge/index.pug


head
	title The Simple Dollar - Car Insurance
	meta( charset="UTF-8" )
	meta( name="viewport" content="width=device-width, initial-scale=1" )
	meta( name="robots" content="noindex, noimageindex, nofollow, nosnippet" )
	link( rel="preconnect" href="https://fonts.gstatic.com")
	link( href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&family=Nunito:wght@300;400&display=swap" rel="stylesheet")
	link( href="./style/index.styl" rel="stylesheet")

body

	div(class="site")

		main(class="main")
			ul(class="badges__list")
				+badge('first-course', 'pink')
				+badge('technical-course', 'pink')
				+badge('digital-design', 'pink')
				+badge('job-class', 'acqua')
				+badge('meeting-client', 'grey')
				+badge('tcc', 'pink')
				+badge('job-atelie', 'acqua')
				+badge('meetup-marathon', 'grey') 
				+badge('front-team', 'acqua') 
				+badge('bigger-front-team', 'acqua') 
				+badge('travel', 'grey') 
				+badge('women', 'grey') 
				+badge('hackathon', 'grey') 
				+badge('plenissima', 'grey') 

			ul(class="badges__list")
				+badge('front-in-sampa-21', 'grey')
				+badge('good-listener', 'grey')
				+badge('hugo', 'grey')
				+badge('max-evaluation', 'grey') 
				+badge('seniorita', 'grey') 
				+badge('3-react-projects', 'grey') 
				+badge('3-vue-projects', 'grey') 
				+badge('brasiljs-21', 'grey') 
				+badge('10-days-10-pens', 'grey') 

