doctype html

include ./components/first-course/index.pug
link( href="./components/first-course/index.styl" rel="stylesheet")

head
	title The Simple Dollar - Car Insurance
	meta( charset="UTF-8" )
	meta( name="viewport" content="width=device-width, initial-scale=1" )
	meta( name="robots" content="noindex, noimageindex, nofollow, nosnippet" )

body

	div(class="site")

		main(class="main")
			h1 Hellow
			+first-course()
				

